<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Feedback / Contact / Collabrate
      </h1>
      <h2 class="subtitle">
      Write to us on this email id - 
      </h2>
      <h2 class="subtitle">
      dummy@dummy.com 
      </h2>
    </div>

    <div>
        <div align="center" style="margin-top: 70px">
            <figure class="image is-96x96">
                <img src="/assets/img/collaborate-icon.png">
            </figure>
        </div>
    </div>


  </div>
</section>

<app-footer></app-footer>