<section class="hero is-medium is-primary is-bold is-medium">
  <div class="hero-body">
    <div class="container">
      
      <h1 class="title is-spaced">
        How this web-portal can help?
      </h1>

      <h2 class="subtitle is-spaced">
        It acts as a Bridge between people and authorities.
        <br>
        <br>
            <div>
                Citizens can raise help requests for - 
                <br>
                <br>
                <br>
                <nav class="level">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="title">Groceries</p>
                            <br>
                            <figure class="image is-96x96">
                                <img src="/assets/img/grocery-icon.png">
                            </figure>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="title">Medicines</p>
                            <br>
                            <figure class="image is-96x96">
                                <img src="/assets/img/medicine-icon.png">
                            </figure>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="title">Feeling Sick</p>
                            <br>
                            <figure class="image is-96x96">
                                <img src="/assets/img/feeling-sick-icon.png">
                            </figure>
                        </div>
                    </div>
                </nav>
            </div>
      </h2>
    </div>
  </div>
</section>