<div class="navbar is-dark" role="navigation" aria-label="main navigation">

   <div class="navbar-brand">
      <a class="navbar-item">
         <img src="assets/img/india-flag-logo.png">
      </a>
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>

   </div>

  <!-- menu -->
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="">Home</a>
      <a class="navbar-item" routerLink="raise-request">Raise Request</a>
      <a class="navbar-item" routerLink="contact-collabrate">Contact</a>
      <a class="navbar-item" routerLink="request-dashboard">Dashboard</a>

    </div>
  </div>

</div>
