<div class="navbar is-dark">

   <div class="navbar-brand">
      <a class="navbar-item">
         <img src="assets/img/india-flag-logo.png">
      </a>
   </div>

   <!-- menu -->
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="">Home</a>
      <a class="navbar-item" routerLink="raise-request">Raise Request</a>
      <a class="navbar-item" routerLink="contact-collabrate">Contact</a>
      <a class="navbar-item">Corona Precautions</a>
      <a class="navbar-item">Admin Login</a>

    </div>
  </div>

</div>