<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" align="left">
        Raise Request
      </h1>
      <h2 class="subtitle">
        Select the type of request you want to make and fill the short form.
      </h2>
    </div>

    <div class="container" style="margin-top: 50px">

        <div>
            <div align="center" style="margin-top: 50px">
                <button (click)="router.navigate(['/raise-request-groceries']);" id="button-request-groceries" class="button is-medium is-focused" style="width:300px">Raise request for Groceries</button>
            </div>
            
            <div align="center" style="margin-top: 50px">
                <button (click)="router.navigate(['/raise-request-medicine']);" id="button-request-medicines" class="button is-medium is-focused" style="width:300px">Raise request for Medicines</button>
            </div>
            
            <div align="center" style="margin-top: 50px">
                <button (click)="router.navigate(['/raise-request-feeling-sick']);" id="button-request-sick" class="button is-medium is-focused" style="width:300px">Feeling Sick?</button>
            </div>
        </div>

        <div>
            <div align="center" style="margin-top: 70px">
                <figure class="image is-96x96">
                    <img src="/assets/img/helping-hand.png">
                </figure>
            </div>
        </div>

    </div>
    
  </div>
</section>